.man {
  .sold-out {
    padding-top: 8px;
    font-size: 25px;
    color: red;
  }
  #btn--bag {
    width: 24px;
    height: 24px;
  }
  a {
    display: flex;
    padding: 10px 33px;
    color: #000000;
    background-color: var(--primary-product-btn-color);
    font-weight: 600;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    border: 1px solid #000000;
    &:hover {
      transition: 0.3s;
      background-color: var(--secondary-product-btn-color);
    }
  }
  &__title {
    text-align: center;
    margin-top: 26px;
    margin-bottom: 85px;
    font-family: "Montserrat", sans-serif;
    font-size: 31px;
  }
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    font-size: 20px;
    line-height: 1.2em;
    font-weight: 400;
    img {
      width: 200px;
      height: 200px;
    }
    .new-price {
      font-size: 24px;
      padding: 10px;
    }
    .old-price {
      text-decoration: line-through red;
      font-size: 21px;
      color: var(--text-product-oldprc-color);
    }
    .price {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    &--page {
      padding: 10px;
      cursor: pointer;
      font-size: 17px;
      &:hover {
        border: 1px solid black;
      }
      &.active {
        border: 1px solid black;
      }
    }
  }
  &__product {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 25px;
    grid-gap: 10px;
    text-align: center;
  }

  @media screen and (max-width: (1400px)) {
  }
  @media screen and (max-width: (1200px)) {
    &__product {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (max-width: (991px)) {
  }
  @media screen and (max-width: (767px)) {
    &__product {
      grid-template-columns: repeat(2, 1fr);
      p {
      }
    }
  }
  @media screen and (max-width: (567px)) {
    &__product {
      p {
        overflow-wrap: break-word;
        font-size: 17px;
      }
    }
    &__container {
      gap: 0;
      h2 {
        font-size: 25px;
      }
      .new-price {
        font-size: 18px;
      }
      .old-price {
        font-size: 15px;
      }
      a {
        padding: 7px 20px;
        font-weight: 300;
      }
      img {
        width: 160px;
        height: 153px;
      }
    }
    &__product {
      gap: 0;
      row-gap: 23px;
    }
  }
}
