.woman {
  .old-price {
    text-decoration: line-through red;
  }
  a {
    padding: 10px 50px;
    color: black;
    background-color: #f7b538;
    font-weight: 600;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    &:hover {
      transition: 0.3s;
      background-color: rgb(234, 220, 68);
      color: white;
    }
  }
  &__title {
    text-align: center;
    margin-top: 26px;
    margin-bottom: 85px;
    font-family: "Montserrat", sans-serif;
    font-size: 31px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    line-height: 1.2em;
    font-weight: 400;
    img {
      width: 200px;
      height: 200px;
    }
    .new-price {
      font-size: 25px;
      padding: 10px;
      // background-color: red;
      // color: white;
    }
    .old-price {
      font-size: 22px;
    }
    .price {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    button {
      padding: 16px;
      cursor: pointer;
    }
  }
  &__product {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 50px;
    grid-gap: 10px;
    &--detail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__container {
        height: 100vh;
      }
      h2 {
        font-size: 36px;
      }
      p {
        font-size: 20px;
      }
      img {
        width: 300px;
      }
    }
  }

  @media screen and (max-width: (1400px)) {
  }
  @media screen and (max-width: (1200px)) {
    &__product {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (max-width: (991px)) {
  }
  @media screen and (max-width: (767px)) {
    &__product {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (max-width: (567px)) {
    &__container {
      gap: 0;
      h2 {
        font-size: 25px;
      }
      .new-price {
        font-size: 18px;
      }
      .old-price {
        font-size: 15px;
      }
      a {
        padding: 7px 33px;
      }
      img {
        width: 160px;
        height: 153px;
      }
    }
    &__product {
      row-gap: 34px;
    }
  }
}

.back {
  padding-top: 10px;
  padding-left: 10px;
  &::before {
    content: "<<<";
    padding-right: 10px;
  }
  @media screen and (max-width: (567px)) {
    padding-left: 20px;
    &::before {
      padding-right: 4px;
    }
  }
}
